<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
</head>
<body>
    
    
    <h1><%= title %>'s dashboard</h1>
    <a href="/api/metrics">Metrics</a><br><br>
    <a href="/api/predictions">Predictions</a><br>
    <br><br>
    <a href="/delete-session">Log Out</a>
</body>
</html>