<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Predictions</title>
</head>
<body>
    <h1>Predictions</h1>
    <ul>
        <% predictions.forEach(prediction => { %>
            <li>
                <strong>Input: </strong> <%= prediction.input %> <br><br>
                <strong>Predicted: </strong> <%= prediction.prediction %><br><br>
                <strong>Actual: </strong> <%= prediction.actual %><br><br><br>
            </li>
        <% }) %>
    </ul>
</body>
</html>